* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery-container {
  max-width: 90vw;
  margin: 50px auto;
}
.gallery-container h1 {
  text-align: -webkit-center;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
}
.gallery-list li {
  /* width: calc(100%/3 - 40px/3); */
  flex: 1 1 calc(100% / 3 - 40px / 3);
}
.gallery-list li:nth-child(3n) {
  margin-right: 0;
}
li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
